.out{
  display: block;
  width: 125px;
  height: 70px;
  border-radius: 160px;
  
  border:1px solid  rgb(208,207,207);
  position: relative;
  transition: .6s;
}
label::after{
  content: '';
  border-radius: 160px;
  box-shadow: 0 0 10px 2px rgb(210,211,211);
  width:62px;
  height: 62px;
  background-color: #fff;
  position: absolute;
  top: 4px;
  left:5px;
  transition: 1s;
} 
#check{
  display: none;
}
#check:checked + label::after{
  margin-left: 53px;

}
#check:checked + .out{
  background-color: rgb(48,243,75);
  border-color:  rgb(48,243,75);
  box-shadow: 0 0 0 35px rgb(48,243,75) inset;
}